<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168317151451-fkvnkjc42nupkfm58lmv2rqvvd2dcat4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168317151451-fkvnkjc42nupkfm58lmv2rqvvd2dcat4</string>
	<key>API_KEY</key>
	<string>AIzaSyCPkd-mW1WGDIgXXCgJDoH3pCL6B3Iq174</string>
	<key>GCM_SENDER_ID</key>
	<string>168317151451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aziz.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>project-yazeed</string>
	<key>STORAGE_BUCKET</key>
	<string>project-yazeed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168317151451:ios:554b508f5374a89f4fc4fe</string>
</dict>
</plist>